<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://arduinodataprocessfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/42ad3ac8-0e24-49b3-87ad-c78e68a06330/resourceGroups/TFG/providers/Microsoft.Web/sites/ArduinoDataProcessFunction</ResourceId>
    <UserName>$ArduinoDataProcessFunction</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://arduinodataprocessfunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>